@use "../../../styles/index.scss" as *;

.button {
  display: flex;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;

  @include custom-media-query("mobile", 425px) {
    flex-direction: row;
    font-size: 14px;
    padding: 0.5rem 1.5rem;
  }
}

.primary {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: $primary-hover;
  }
}

.secondary {
  border: 1px solid $primary;
  color: $primary;

  &:hover {
    background-color: #f0fdf4;
  }
}

.icon {
  font-size: 24px;
}
