@use "../../../styles/index.scss" as *;

.layout-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.main-section {
  flex: 1;
  height: 100%;
  padding: px-to-rem(36px);
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  background-color: #f9fafb; // Light background for better contrast
  display: flex;
  flex-direction: column;

  .content-wrapper {
    flex: 1;
  }

  @include custom-media-query("mobile", $md) {
    padding: px-to-rem(16px) 1rem px-to-rem(120px) 1rem;
    background-color: white;
  }

  footer {
    border-top: 1px solid #e0e0e0;
    padding: 2rem 0;
    margin-top: 3rem;
    color: #9ca3af;
    text-align: center;
    font-size: 0.8rem;
    line-height: normal;

    @include custom-media-query("mobile", $sm) {
      display: none;
    }
  }
}