@use "../../../styles/index.scss" as *;
 
.main-section {
  width: 80%;
  height: 100%;
  right: 0;
  top: 2.5rem;
  position: fixed;
  padding: px-to-rem(36px);
  transition: width 1s ease-in-out;
  z-index: -1;
  background-color: #fafafa87;
  overflow: scroll;

  margin: 1rem 0;

  @include custom-media-query("mobile", 768px) {
    width: 100%;
    padding: 2rem px-to-rem(16px);
  }
}