@use "../../../styles/index.scss" as *;
 
.main-section {
  width: 80%;
  height: 100%;
  right: 0;
  top: 3.5rem;
  position: fixed;
  padding: px-to-rem(36px);
  transition: width 1s ease-in-out;
  z-index: -1;

  @include custom-media-query("mobile", 768px) {
    width: 100%;
    padding: px-to-rem(16px);
  }
}