@use "../../../../../styles/index.scss" as *;

.tickets-summary {
  margin-top: 1rem;
  background-color: white;
  -webkit-box-shadow: 11px 10px 34px 0px rgba(173, 173, 173, 0.9);
  -moz-box-shadow: 11px 10px 34px 0px rgba(173, 173, 173, 0.9);
  box-shadow: 11px 10px 14px 0px rgba(208, 208, 208, 0.28);
  border-radius: 0.5rem;
  padding: px-to-rem(24px);
  @include custom-media-query("mobile", $sm) {
    padding: px-to-rem(12px);
  }
  &_container {
    div {
      display: flex;
      justify-content: space-between;
      padding: px-to-rem(24px) 0;
      border-bottom: $border;

      &:last-of-type {
        p:nth-child(2) {
          color: green;
          font-weight: 700;
          font-size: 26px;

          &::before {
            content: "₦";
          }
        }
      }

      p {
        &:nth-child(1) {
          color: $text-primary;

          &:last-of-type {
            // border: 2px solid red;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.btn_container {
  margin-top: 3rem;
  max-width: $sm;
  gap: 1rem;
  display: flex;
  flex-direction: row;
}
