@use "../.././../../../styles/index.scss" as *;

.bulk-sticker {
  display: grid;
  .card {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    gap: 1rem;
    background-image: url("../../../../../../public/prints/sticker-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 32rem;
    // aspect-ratio: 32 / 32;
    height: 32rem;
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);

    &-tag {
      position: absolute;
      top: 5rem;
      right: 3.75rem;
      font-weight: 700;
      color: red;
      font-size: 1rem;
      padding: 0.5rem;
    }

    &-id {
      position: absolute;
      top: 7.5rem;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      font-family: serif;
      font-size: 2.9rem;
      padding: 0.5rem;
    }

    &-vehicle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      font-family: serif;
      font-size: 2.9rem;
      padding: 0.5rem;
    }

    &-content {
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));

     .qrcode {

      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
     }
    }
  }
}
