@use "../../../styles/index.scss" as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  margin: 0 1rem;
  z-index: 9999;

  .success_icon {
    color: green;
    font-size: 4.5rem;
    margin: 2rem 0;
  }

  .error_icon {
    color: red;
    font-size: 4.5rem;
    margin: 2rem 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: $text-primary;
  }

  p {
    margin-bottom: 20px;
    font-size: 12px;
    color: gray;

    span {
      color: rgb(57, 57, 57);
      font-weight: 500;
    }
  }

  .button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    padding: clamp(0.55rem, 1.2vw + 7.16px, 0.75rem)
      clamp(0.75rem, 1.2vw + 7.16px, 1.5rem);
    border-radius: 0.35rem;
    transition: all 0.5s ease;
    font-size: clamp(14px, 1.2vw + 7.16px, 16px);
    font-weight: 300;

    @include custom-media-query("mobile", 425px) {
      flex-direction: row;
    }
  }

  .button + .button {
    margin: 0.5rem;
  }

  .primary {
    cursor: pointer;
    background-color: $primary;
    color: white;

    &:hover {
      background-color: $primary-hover;
    }
  }

  .modalContent {
    // margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modalHeader {
    display: grid;
    gap: -1.5rem;

    h1 {
      font-size: 18px;
      font-weight: 600;
      color: green;
    }
    h2 {
      font-size: 14px;
      font-weight: 600;
      color: green;
    }
  }

  .modalContentEnum {
    position: relative;
    width: 100%;
    min-width: 350px;
    height: 250px;
    background: url(../../../../public/abia-logo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.09;
  }
  .modalContentEnumContent {
    position: absolute;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .assetCode {
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 0;
    }
    img {
      max-width: 150px;
    }

    .custom_vehicle_details {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      max-width: 15rem;
      p {
        position: absolute;
      }
      .vehicle_type {
        right: -3rem;
        top: 6rem;
        transform: rotate(90deg);
        font-weight: 600;
        color: red;
      }
      .vehicle_cat {
        left: -4.75rem;
        top: 6rem;
        transform: rotate(-90deg);
        font-weight: 600;
        color: red;
      }
    }
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
