@use "../index.scss" as *;

.benefit_heading {
  padding: 3rem 0 0 0;
  text-align: center;
  padding-inline: px-to-rem(24px);
  &_container {
    max-width: var(--container-lg);
    margin-inline: auto;
  }

  &_tag {
    width: fit-content;
    background-color: var(--active-blue-100);
    font-weight: 400;
    margin-inline: auto;
    padding: px-to-rem(9px) px-to-rem(12px);
    border-radius: px-to-rem(8px);
    color: var(--active-blue-400);
    margin-bottom: px-to-rem(40px);
  }

  &_header {
    max-width: px-to-rem(787px);
    margin-inline: auto;
    color: var(--active-blue-600);
    font-size: px-to-rem(40px);
    font-weight: 700;
    line-height: 48px;
    margin-bottom: px-to-rem(16px);
  }
  &_description {
    color: var(--neutral-900);
    font-size: px-to-rem(20px);
    margin-inline: auto;
    margin-bottom: px-to-rem(130px);
  }
}
