@use "../index.scss" as *;
  .consultant {
    background-color: #0275d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem(35px);
    padding: px-to-rem(100px) px-to-rem(10px);

    &_container {
      background-image: url(../../assets/blure-2.webp),
        url(../../assets/blure-2.webp);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position:
        -50% 220%,
        150% 220%;
    }
    &_text {
      max-width: px-to-rem(724px);
      display: flex;
      flex-direction: column;
      gap: px-to-rem(24px);
      h3 {
        font-size: px-to-rem(32px);
        color: var(--white);
        text-align: center;
        line-height: px-to-rem(40px);
        margin-inline: auto;
      }

      p {
        text-align: center;
        color: var(--white);
        font-size: px-to-rem(20px);
        line-height: px-to-rem(32px);
        margin-inline: auto;
        font-weight: 300;
      }
    }
    &_img_container {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &_btn {
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: px-to-rem(24px);
      .primary_btn {
        padding: px-to-rem(16px) px-to-rem(24px);
        gap: 12px;
        display: inline-block;
        // width: fit-content;
        display: flex;
        // flex-basis: 200px;
        text-align: center;
        border-radius: 8px;
        background-color: var(--white);
        color: var(--active-blue-600);
      }

      .secondary_btn {
        flex-basis: 200px;
        padding: px-to-rem(16px) px-to-rem(16px);
        border: 2px solid var(--white);
        text-align: center;
        border-radius: 8px;
      }
      a {
        color: var(--white);
      }
    }

    margin-bottom: px-to-rem(80px);
  }