@use "../index.scss" as *;

$container: 1120px;
.hero {
	background-color: var(--active-blue-600);
	background-image: url(../../assets/images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: cover;
	&_container {
		background-image: url(../../assets/blure-2.webp),
			url(../../assets/blure-2.webp);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: -50% 220%, 150% 220%;
	}
	&_text {
		h1 {
			font-size: px-to-rem(56px);
			color: var(--white);
			text-align: center;
			line-height: px-to-rem(64px);
			margin-top: px-to-rem(38px);

			.text-highlighted {
				color: var(--brand-colors-pop-blue);
			}
		}
	}
	&_description {
		text-align: center;
		color: var(--white);
		p {
			font-size: px-to-rem(20px);
			margin-inline: auto;
			margin-top: px-to-rem(21px);
		}
	}
	&_video {
		.video_overlay {
			background: #10345e25;
			position: absolute;
			inset: 0;
			z-index: 6;
			display: grid;
			place-items: center;
			&:has(.hidden) {
				display: none;
			}

			.ply-btn {
			}
		}
		transition: max-width 0.4s ease-in-out, scale 0.3s ease,
			border-radius 0.4s ease;
		position: relative;
		max-width: px-to-rem(606px);
		margin-inline: auto;
		margin-top: px-to-rem(60px);
		overflow: hidden;
		height: px-to-rem(608px);
		border-radius: px-to-rem(300px) px-to-rem(300px) 0 0;
		transform-origin: top center;

		&:is(.expand) {
			transform-origin: top center;

			transition: max-width 0.2s ease-in-out, scale 0.2s ease,
				border-radius 0.2s ease;

			max-width: 1080px;
			border-radius: 0;
			overflow: initial;
			video {
				scale: 1;
				width: 100%;
			}
		}
		// max-width: 100%;
		video {
			scale: 3;
		}
	}
}

.btn {
	background-color: var(--active-blue-400);
	color: white;
	border-radius: 8px;
	max-width: px-to-rem(250px);
	padding-block: px-to-rem(16px);
	text-align: center;
	font-weight: 600;
}
