.multiple_payment_processing {

.special_container {
    margin: 0 auto;
    padding: 0 0 0 32px;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  
    @media (max-width: 992px) {
        padding: 0;
    }
    
  }
  
  .special_container_description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5rem 0;
  
    @media (max-width: 992px) {
      justify-content: center;
  }
  }
  
  .payments_processing_bg {
    background: #ebf8fe;
  }
  
  .payments_processing_text {
    max-width: 576px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    @media (max-width: 992px) {
  }
  }
  
  .payments_heading {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  
    h1 {
      color: var(--colour-activeblue-activeBlue600, #10345e);
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
  
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 33px;
      }
    }
  
    p {
      color: var(--colour-neutral-neutral800, #4e5a6c);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }
  
  .full_width_blue_octa {
    height: 100%;
    right: 0;
    top: 0;
    width: 50%;
    position: absolute;
  
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  
  .side_full_img_cont {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #0275d8;
  
    @media (max-width: 991px) {
      min-height: 10vh;
    }
  }
  
  img {
    width: 360.282px;
    height: 327px;
  }
  
  .capabilities {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    align-items: flex-start;
    gap: 10px;
  }
  
  .capabilty {
    display: flex;
    width: 405px;
    padding: 24px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid #a8d6ef;
  
    h2 {
      color: #10345e;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  
    p {
      color: #4e5a6c;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  
  @media (max-width: 991px) {
    .special_container {
      display: flex;
      height: 100%;
      flex-direction: column-reverse;
    }
  
    .full_width_blue_octa {
      height: 100%;
      right: 0;
      top: 0;
      width: 100%;
      position: absolute;
    }
  }
  
}