.multiple_payments {
  padding: 3rem 0 0 0;
  width: 100%;
  background: white;

  .multiple_payments_container {
    margin: 0 auto;
    padding: 0 0 0 32px;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }

  .multiple_payments_sliders {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .multiple_payments_slider {
    border-top: 1px solid #d1d1d1;
    display: flex;
    width: 100%;
    max-width: 256px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;

    &_active {
      border-top: 3px solid #7bc6e4;
      color: #7bc6e4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .multiple_payments_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    width: 100%;

    @media (max-width: 992px) {
      width: 100%;
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .multiple_payments_text_container {
      max-width: 576px;
    }
  }

  .multiple_payments_heading {
    margin-top: 3rem;
    display: flex;
    // padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    h1 {
      color: #10345e;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Averta;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;

      @media (max-width: 480px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    p {
      color: var(--colour-neutral-neutral800, #4e5a6c);
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;

      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  .multiple_payments_side {
    min-height: 872px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #0275d8;

    @media (max-width: 991px) {
      min-height: 10vh;
    }
  }

  .multiple_payments_points {
    display: flex;
    // padding: 0px 49px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    li {
      color: var(--colour-neutral-neutral800, #4e5a6c);
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;

      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  ::marker {
    width: 16px;
    height: 16px;
    color: #d9d9d9;
    font-size: 2rem;

    @media (max-width: 480px) {
      width: 12px;
      height: 12px;
      font-size: 1rem;
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 625.74px;
    max-height: 567.935px;
  }

  @media (max-width: 991px) {
    .multiple_payments_container {
      display: flex;
      height: 100%;
      flex-direction: column-reverse;
    }

    .full_width_blue_octa {
      height: 100%;
      right: 0;
      top: 0;
      width: 100%;
      position: absolute;
    }
  }
}
