@use "../index.scss" as *;

.speak_to_consultant {
	background-color: var(--active-blue-600);
	margin-block: px-to-rem(80px);
	color: var(--white);
	padding: px-to-rem(44px) px-to-rem(24px);

	@include custom-media-query("mobile", 1170px) {
		.img{
			display: none;
		}
		padding-block: px-to-rem(24px);

	}

	&_container {
		display: flex;
		max-width: var(--container-170);
		gap: px-to-rem(42px);
		margin-inline: auto;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
			@include custom-media-query("mobile", 1170px){
				justify-content: center;
				text-align: center;
			}
		h2 {
			margin-bottom: px-to-rem(16px);
			font-size: px-to-rem(32px);
		}

		.secondary_btn {
			cursor: pointer;
			flex-basis: 200px;
			padding: px-to-rem(16px) px-to-rem(32px);
			border: 1px solid var(--white);
			text-align: center;
			border-radius: 8px;
			margin-top: px-to-rem(32px);
			display: inline-block;
		}

		.secondary_btn:hover {
			background-color: var(--white);
			color: var(--active-blue-600);
		}

		p {
			font-size: px-to-rem(20px);
			max-width: px-to-rem(584px);
			color: var(--neutral-200);
		}
	}
}
