.unlock_potential {
  display: flex;
  padding: 120px 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background:white;

  @media (max-width: 992px) {
    gap: 20px;
    padding: 120px 20px;
  }

  .unlock_potential_container {
    width: 100%;
    max-width: 1152px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (max-width: 1024px) {
        display:flex;
        flex-direction: column;
        padding: 0 20px;
        gap: 2rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .unlock_potential_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    @media (max-width: 992px) {
      align-items: center;
      text-align: center;
    }

    h2 {
      color: #072f40;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;

      @media (max-width: 992px) {
        margin-top: 2rem;
        font-size: 30px;
        line-height: 38px;
      }

      @media (max-width: 576px) {
        text-align: center;
      }
    }

    p {
      color: var(--colour-primaryblue-primaryBlue700, #072f40);
      font-feature-settings: "clig" off, "liga" off;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      max-width: 481px;

      @media (max-width: 992px) {
        font-size: 18px;
        line-height: 25px;
      }

      @media (max-width: 576px) {
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
