.unlock_power {
  .container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .unlock_power_flex {
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 30px 0;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  .unlock_power_image_cont {
    max-width: 600px;

    img {
      width: 100%;
    }
  }

  .unlock_power_text {
    max-width: 530px;

    h2 {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      color: #10345e;
      padding-bottom: 15px;

      @media (max-width: 480px) {
        font-size: 28px;
        line-height: 30px;
      }
    }

    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      color: #4e5a6c;

      @media (max-width: 480px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
