@use "../../../../styles/index.scss" as *;

.tickets-wallet-card {
  $bold-primary-text: #3f3f46;

  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-radius: 0.7rem;
  background-color: $primary;
  color: #d4d4d8;
  font-size: 13px;

  &_balance {
    display: grid;

    span:nth-child(2) {
      color: #e4e4e7;
      font-weight: 500;
      font-size: 1.3rem;
    }
  }
  &_earnings {
    display: grid;

    span:nth-child(2) {
      color: #e4e4e7;
      font-weight: 500;
      font-size: 1.3rem;
    }
  }

  img {
    width: 40px;
  }
}
